<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appEd.getDirectEd.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:name="GetDirectEdApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".GetDirectEdActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".FacilitiesActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".FavouritesActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".NowActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".AllFacilityActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".DayEventsActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDetailsActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".GetDirectEdApplicationActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".MinFacilityActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".MonthEventsActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivitiesActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".WeekEventsActivity"
            android:label="@string/app_name"  >
            <intent-filter>
            </intent-filter>
        </activity>
    </application>

</manifest>